.label-default {
    font-size: 12px;
}

.label-small-1 {
    font-size: 8px;
}

.label-small-2 {
    font-size: 10px;
}

.label-small-3 {
    font-size: 12px;
}

.label-medium-1 {
    font-size: 14px;
}

.label-medium-2 {
    font-size: 16px;
}

.label-medium-3 {
    font-size: 18px;
}

.label-large-1 {
    font-size: 20px;
}

.label-large-2 {
    font-size: 22px;
}

.label-large-3 {
    font-size: 24px;
}

.extra-label-large-1 {
    font-size: 26px;
}

.extra-label-large-2 {
    font-size: 28px;
}

.extra-label-large-3 {
    font-size: 30px;
}

.label-bold {
    font-weight: 1000;
}